.html2canvas #weekplan {
  width: 900px !important;
}
.html2canvas #weekplan-container {
  overflow-x: hidden;
}
.html2canvas #weekplan-container .shadow {
  box-shadow: none !important;
}
.html2canvas #weekplan-container .bg-yellow-300 {
  background: transparent !important;
}
