.html2canvas #weekplan {
  width: 900px !important;
}
.html2canvas #weekplan-container {
  overflow-x: hidden;
}
.html2canvas .shadow-md {
  box-shadow: none !important;
}
.html2canvas .bg-yellow-300 {
  background: transparent !important;
}
